
 <ion-header no-border>
  <ion-toolbar>
    <ion-title class="nav">bryo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-row>
  <ion-col size="6" size-medium>
     
   
  </ion-col>
  <ion-col size="6" size-medium>
    <div class="container" >
     <h1>ENTER OTP</h1>
     <h2>Please enter OTP sent to 7204571490  for authentication</h2>
    
      <ion-textarea wrap="soft" class="text" placeholder="One Time Password(OTP)">
      </ion-textarea>
       <h3>Resend OTP</h3>
     
      <ion-button  href="six"color="danger" color="white" class="button">SIGN IN</ion-button>
   <h6> By signing in, I agree to the terms & conditions</h6>
    
</div>
</ion-col>