img{
position: relative;
width: 336px;
height: 336px;
left: 169px;
top: 150px;

}

h1{

color: #3F4E48;
padding-top: 100px;
width: 575px;
height: 151px;
left: 791px;
top: 347px;
font-size: 64px;
line-height: 75px
}
h5{
  padding-top: 19%;
  width: 554px;
height: 81px;
left: 791px;
top: 540px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 42px;

color: rgba(63, 78, 72, 0.79);
}

.button{
 
  background: #cb1313;
  opacity: 0.5; 
  border-radius: 10px;
  box-sizing: border-box;
  width: 25%;
  height:65px;
  margin-top: 22%;

  
}

.first{
margin: auto;

margin-top: 20%;
margin-bottom: 10%;



}
.buttons{
  
  
  margin-top: 20%;
  margin-left: 50%;
  

}

